:root {
    --header-color: #1e1c1f;
    --dark-header-color: #19181a;
    --bg-color: #171617;
    --title-color: #d17c7c;
    --item-color: #f6c6a8;

    --title-font-size: 54px;
    --lg-font-size: 48px;
    --md-font-size: 24px;
    --sm-font-size: 19px;
}

body, html {
    font-family: "Open Sans", sans-serif;
    height: 100%;
    margin: 0;
    background-color: var(--bg-color);
    color: var(--item-color);
}

p {
    font-size: var(--sm-font-size);
    color: var(--item-color);
}

.pointer {
    cursor: pointer;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.section-title {
    margin: 0;
    color: var(--title-color);
}

h1.section-title {
    font-size: var(--lg-font-size);
}

h2.section-title {
    font-size: var(--md-font-size);
}

li {
    margin-bottom: 8px;
}

li:last-child {
    margin-bottom: 0px;
}

.center {
    text-align: center;
}

a {
    color: #d8a280;
    text-decoration: none;
}

a:hover {
    color: #ca9473;
    text-decoration: none;
}

.icon {
    position: relative;
    top: 5px;
    margin: 10px;
}

.header-container {
    position: fixed;
    top: 0;
    width: 100%;
    
    background-color: var(--header-color); 
}

.header-icon {
    color: var(--item-color);
    font-size: 50px;
    margin-right: 15px;
}

.header-button {
    background-color: #00000000;
    color: var(--item-color);

    border: 3px solid var(--item-color);
    border-radius: 10%;

    padding: 3px;
}

.language-picker {
    margin-left: 15px;
}

.language-picker select {
    font-size: var(--sm-font-size);
    color: var(--item-color);
    padding: 8px;

    background-color: #00000000;
    border: 3px solid var(--item-color);
    border-radius: 10%;
}

option {
    background-color: var(--header-color);
    border: 3px solid var(--item-color);
    border-radius: 10%;
}

option:hover {
    background-color: var(--dark-header-color);
}

.profile-img {
    width: 200px;
    height: auto;
    border: 2px solid var(--item-color);
    border-radius: 50%;
    margin-right: 40px;
}

.simple-container {
    color: var(--item-color);
    border: 3px solid var(--item-color);
    border-radius: 10%;
    padding-top: 4px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.simple-container p {
    margin: 5px 10px;
}

.project-card {
    width: 360px;
    background-color: var(--header-color);
    border-radius: 15px;

    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 20px;
}

.project-card:hover .overlay {
    opacity: 0.9;
}

.project-card p {
    margin: 0;
    padding: 15px 10px;
    vertical-align: middle;
    color: var(--item-color);
}

.project-card .header-info {
    position: relative;
    top: 80%;
    width: 100%;
    height: 20%;

    opacity: 0.8;
    background-color: var(--header-color);
}

.project-card .card-title {
    padding: 0;
    padding-top: 15px;
}

.project-card .card-text {
    font-size: 14px;
}

.header-info p {
    padding: 0;
}

.header-info i {
    margin: 0 5px 0 10px;
}

.button {
    width: 30%;
    background-color: var(--header-color);
    border: none;
    border-radius: 15px;
    padding: 0;
    cursor: pointer;
    color: var(--item-color);
    width: fit-content;
    display: inline-block
}

.button p {
    margin: 0;
    padding-left: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
}

.button:hover {
    background-color: var(--dark-header-color);
}

.img-therightshot {
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 200px;
    background: url("../images/therightshot_title.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-exode {
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 200px;
    background: url("../images/exode-title.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-flare {
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 200px;
    background: url("../images/flare-title.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-mydefender {
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 200px;
    background: url("../images/mydefender-title.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-bomberman {
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 200px;
    background: url("../images/bomberman-title.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-hexagon {
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 200px;
    background: url("../images/hexagon_world_builder-title.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-goblin-hunter {
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 200px;
    background: url("../images/goblinhunter_title.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-gaia {
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 200px;
    background: url("../images/gaia-title.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

video {
    margin: 10px;
}

.resume {
    margin: 10px;
    color: var(--item-color);
}

.resume .resume-item {
    position: relative;
    background-color: var(--header-color);
    padding: 20px 25px;
    max-width: 540px;
    margin: 15px;
    flex: 1;
    border-radius: 5%;
    z-index: 1;
}

.resume .resume-item h4 {
    line-height: 24px;
    font-size: var(--sm-font-size);
    font-weight: 600;
    margin: 0px;
    vertical-align: middle;
}

.resume .resume-item p {
    font-size: 16px;
    margin: 5px;
}

.resume .resume-item h5 {
    font-size: 16px;
    background: var(--title-color);
    padding: 5px 5px;
    display: inline-block;
    font-weight: 600;
    margin: 10px;
}

.resume .resume-item ul {
    padding-left: 20px;
}

.resume .resume-item ul li {
    padding-bottom: 10px;
}

.resume .timeline-rect {
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    
    width: 15px;
    z-index: 0;
    background-color: var(--title-color);
}