body, html {
    font-family: "Open Sans", sans-serif;
    height: 100%;
    margin: 0;
    background-color: #171617;
    color: rgb(240, 236, 236);
}

li {
    margin-bottom: 8px;
}

li:last-child {
    margin-bottom: 0px;
}

.center {
    text-align: center;
}

.title h1 {
    font-size: 52px;
    margin: 0;
}

.title h2 {
    font-size: 30px;
}

.img-bg {
    height: 100vh;
    opacity: 0.4;
    background: url("../images/background-title-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-text-container {
    position: relative;
    text-align: center;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.horizontal-centered-text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.nav-menu-ul li {
    display: inline;
    margin: 25px;
    color: rgb(240, 236, 236);
}

a {
    color: rgb(224, 218, 218);
    text-decoration: none;
}

a:hover {
    color: rgb(175, 164, 164);
    text-decoration: none;
}

.icon {
    margin: 10px;
}

.text-border {
    padding: 1px 30%;
}

.light-text p {
    font-weight: lighter;
    line-height: 1.5;
}

.row {
    width: 100%;
    text-align: center;
}

.project-card {
    width: 400px;
    background-color: #5b768d;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
}

.project-card:hover .overlay {
    opacity: 0.9;
}

.project-card p {
    margin: 0;
    padding: 15px 10px;
    vertical-align: middle;
    color: #f6c6a8;
}

.overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #5b768d;
    border-radius: 15px 15px 0px 0px;
}

.overlay p {
    padding: 15px 10px;
}

.container {
    font-size: 20px;
    padding: 5px 10px;
}

.img-therightshot {
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 200px;
    background: url("../images/therightshot_title.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-exode {
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 200px;
    background: url("../images/exode-title.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.button {
    width: 30%;
    background-color: #5b768d;
    border: none;
    border-radius: 15px;
    padding: 0;
    cursor: pointer;
    color: #f6c6a8;
    width: fit-content;
    display: inline-block
}

.button p {
    margin: 0;
    padding-left: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
}

.icon {
    position: relative;
    top: 5px;
}

.button:hover {
    background-color: #35536c;
}

.img-flare {
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 200px;
    background: url("../images/flare-title.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-mydefender {
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 200px;
    background: url("../images/mydefender-title.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-bomberman {
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 200px;
    background: url("../images/bomberman-title.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-hexagon {
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 200px;
    background: url("../images/hexagon_world_builder-title.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-golfydungeon {
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 200px;
    background: url("../images/golfydungeon-title.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.resume .resume-item {
    background-color: #1E1C1F;
    padding: 20px 25px;
    max-width: 540px;
    margin: 15px;
    flex: 1;
    border-radius: 5%;
    z-index: 1;
}

.resume .resume-item h4 {
    line-height: 24px;
    font-size: 18px;
    font-weight: 600;
    margin: 0px;
    vertical-align: middle;
}

.resume .resume-item p {
    margin: 5px;
}

.resume .resume-item h5 {
    font-size: 16px;
    background: #202b3a;
    padding: 5px 5px;
    display: inline-block;
    font-weight: 600;
    margin: 10px;
}

.resume .resume-item ul {
    padding-left: 20px;
}

.resume .resume-item ul li {
    padding-bottom: 10px;
}

.resume {
    margin: 10px;
    color: #f6c6a8;
}

.col-2 {
    float: left;
    width: 40%;
    padding: 20px 5%;
}

